<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495495909284-pmvnhjehq8064b5sjsgsle0958u0latj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495495909284-pmvnhjehq8064b5sjsgsle0958u0latj</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Su24A3Syu7hMvBcQOO4uw_T3zIJtbaY</string>
	<key>GCM_SENDER_ID</key>
	<string>495495909284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fuelwise</string>
	<key>PROJECT_ID</key>
	<string>fuelwise-184d7</string>
	<key>STORAGE_BUCKET</key>
	<string>fuelwise-184d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495495909284:ios:0979c94f27dd4385ef7b31</string>
</dict>
</plist>